# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Editor/IDE specific files
.vscode
*.code-workspace

# Dependency directory
node_modules

# Coverage directory used by tools like istanbul
coverage

# Compiled files
build

# Configurations
config/bot.json
config/config.json

# Databases
data/*.sqlite

# We do not want package-lock.json in the repo... it is annoying.
package-lock.json
